<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">About</h1>
</div>

<h3>Developed by Jeah Pearl Menette M. Daligdig</h3>

<div class="pt-3">
  <p>This is a simple management system developed for Laboratory Activity #2.</p>
</div>
